.cover{
    height: 70%;
    background-image: url("../img/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(8px);
    transition: 1s;

}


.cover .col-title, .cover .col-subtitle{
    text-align: center;
    position: relative;
}

.title, .subtitle{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   color: #fff;
   margin-top: 5%;
}

.title{
    font-size: 50px;
    font: 800;
}

.subtitle{
    font-size: 30px;
    font: 450;
}

.cover:hover{
filter: blur(0px);
transition: .5s;
}
